<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mediSync.project.patient.mapper.PatientMapper">

    <!-- 환자 정보 저장 -->
    <insert id="insertPatient" useGeneratedKeys="true" keyProperty="patientId">
        INSERT INTO patient
        (name, phone, email, user_id, resident_no, address)
        VALUES
        (#{name}, #{phone}, #{email}, #{userId}, #{residentNo}, #{address})
    </insert>

    <!-- 환자 정보 수정 -->
    <update id="updatePatient" parameterType="patient">
        UPDATE patient
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="residentNo != null and residentNo != ''">
                resident_no = #{residentNo},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="gender != null and gender != ''">
                gender = #{gender},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="consentInsurance != null">
                consent_insurance = #{consentInsurance},
            </if>
        </set>
        WHERE user_id = #{userId}
    </update>

    <select id="searchPatient" resultType="patient">
        SELECT *
        FROM patient
        <where>
            <if test="keyword != null">
                (name LIKE CONCAT('%', #{keyword}, '%')
                OR phone LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
        ORDER BY patient_id DESC
    </select>

    <!-- 환자 정보 조회 -->
    <select id="allPatient" resultType="patient">
        SELECT *
        FROM patient
        <where>
            <if test="keyword != null">
                (name LIKE CONCAT('%', #{keyword}, '%')
                OR phone LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
        ORDER BY patient_id DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countPatient" resultType="int">
        SELECT COUNT(*)
        FROM patient
        <where>
            <if test="keyword != null">
                (name LIKE #{keyword} OR phone LIKE #{keyword})
            </if>
        </where>
    </select>
    <!-- 과거진료 내역 불러오기 (수술 시) -->
    <select id="getPatientRecords"  resultType="medicalRecord">
        SELECT
        p.prescription_id,
        p.record_id,
        p.created_at,
        p.type,
        a.name,
        p.dosage,
        d.dept_name,
        r.diagnosis,
        a.name AS doctorName
        FROM prescription p
        JOIN medical_record r ON p.record_id = r.record_id
        LEFT JOIN admin_account a ON r.admin_id = a.admin_id
        LEFT JOIN department d ON a.dept_id = d.dept_id
        WHERE r.patient_id = #{patientId}
        ORDER BY p.created_at DESC
        LIMIT #{size} OFFSET #{offset}
    </select>
    <select id="countAllRecord" parameterType="long" resultType="int">
        SELECT COUNT(*)
        FROM medical_record
        WHERE patient_id = #{patientId}
    </select>

    <!-- 처방 내역 불러오기 (수술 시) -->
    <select id="getPatientPrescriptions"  resultType="prescription">
        SELECT
        p.prescription_id       AS prescriptionId,
        p.record_id             AS recordId,
        p.type                  AS type,
        p.created_at            AS createdAt,
        p.drug_name             AS drugName,
        p.dosage                AS dosage,
        p.duration              AS duration,
        p.test_name             AS testName,
        p.test_area             AS testArea,
        p.test_date             AS testDate,
        p.injection_name        AS injectionName,
        p.injection_area        AS injectionArea,
        p.injection_count       AS injectionCount,
        p.unit                  AS unit,
        p.unit_price            AS unitPrice,
        a.name                  AS doctorName,
        r.diagnosis             AS diagnosis
        FROM prescription p
        JOIN medical_record r ON p.record_id = r.record_id
        LEFT JOIN admin_account a ON r.admin_id = a.admin_id
        WHERE r.patient_id = #{patientId}
        ORDER BY p.created_at DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countAll" parameterType="long" resultType="int">
        SELECT COUNT(*)
        FROM prescription pr
        JOIN medical_record r ON pr.record_id = r.record_id
        WHERE r.patient_id = #{patientId}
    </select>

    <!-- 환자 상세정보 불러오기 (수술 시) -->
    <select id="getPatientDetail" parameterType="long" resultType="patient">
        SELECT * FROM patient WHERE patient_id=#{patientId}
    </select>

    <!-- 입원 환자 조회 (최근 기록 조회)-->
    <select id="selectInpatient" resultType="map">
        SELECT
        a.admission_id      AS admissionId,
        p.patient_id        AS patientId,
        p.name              AS name,
        p.phone             AS phone,
        p.address           AS address,

        -- 입원 정보
        a.admitted_at       AS admittedAt,
        a.discharged_at     AS dischargedAt,
        a.status            AS admissionStatus,

        -- 병실 정보
        r.room_no           AS roomNo,
        r.ward_name         AS wardName,
        r.nurse_in_charge   AS nurseName,

        -- 의료기록(가장 최근 1건)
        mr.record_id        AS recordId,
        mr.diagnosis        AS diagnosis,
        mr.admin_id         AS adminId,
        ad.name             AS adminName

        FROM admission a
        JOIN patient p
        ON a.patient_id = p.patient_id

        LEFT JOIN room r
        ON a.room_id = r.room_id

        -- 최신 medical_record 1건 서브쿼리
        LEFT JOIN (
        SELECT mr1.*
        FROM medical_record mr1
        WHERE mr1.record_id = (
        SELECT MAX(record_id)
        FROM medical_record
        WHERE patient_id = mr1.patient_id
        )
        ) mr
        ON mr.patient_id = p.patient_id

        LEFT JOIN admin_account ad
        ON mr.admin_id = ad.admin_id

        WHERE a.status = 'ADMITTED'
        ORDER BY a.admitted_at DESC;
    </select>


    <!-- 환자 과거 처방 내역 조회 -->
    <select id="findByPatientId" parameterType="long" resultType="prescription">
        SELECT
        prescription_id,
        type,
        drug_name,
        dosage,
        duration,
        test_name,
        test_area,
        injection_name,
        injection_count,
        unit,
        created_at
        FROM prescription
        WHERE patient_id = #{patientId}
        ORDER BY created_at DESC
    </select>

    <update id="updatePatientAdmissionStatus" parameterType="patient">
        UPDATE patient
        SET admission_status = #{admissionStatus}
        WHERE patient_id = #{patientId}
    </update>
    <update id="updatePatientRoom" parameterType="int">
        UPDATE patient
        SET room_id = #{roomId}
        WHERE patient_id = #{patientId}
    </update>
</mapper>
